<mat-toolbar class="navbar">

    <div class="page-title">

        <h1>{{ pageHeader.title() }}</h1>

        <span>{{ pageHeader.subtitle() }}</span>

    </div>


    <div class="navbar-right">

        <div class="search-box">

            <mat-icon>search</mat-icon>

            <input type="text" placeholder="Search patients, beds, staff..." />

        </div>

        <button mat-icon-button class="icon-btn">
            <mat-icon>notifications</mat-icon>
        </button>

        <button mat-icon-button class="icon-btn">
            <mat-icon>account_circle</mat-icon>
        </button>

    </div>

</mat-toolbar>